
DatawarehouseSucos/DatawarehouseSucos.dbmdl
DatawarehouseSucos/.vs/DatawarehouseSucos/v16/.suo
DatawarehouseSucos/.vs/DatawarehouseSucos/v16/TestStore/0/000.testlog
DatawarehouseSucos/bin/Debug/DatawarehouseSucos.pdb
DatawarehouseSucos/bin/Debug/DatawarehouseSucos.dll
DatawarehouseSucos/bin/Debug/DatawarehouseSucos.dacpac
DatawarehouseSucos/.vs/DatawarehouseSucos/v16/.suo
CargaDatawarehouse/obj/Development/CargaDatawarehouse.dtproj
CargaDatawarehouse/bin/Development/CargaDatawarehouse.ispac
*.dll
*.xml
